body {
  background: #EEDBE2;
  color: #6D7469;
  .header {
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #C094A5;
    font-size: 44pt;
    text-shadow: 0px 4px 9px #c094a5;
    padding: 2rem;
  }
  .intro {
    text-align: center;
  }
}
